{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
   We have a wild variety of products.
{% endblock %}


{% block title %}

    Search

{% endblock %}

{% block content %}

<div>
    <p class="text-center my_search_text" style="padding-top:20px;">You have searched for:<b>"{{query}}"</b></p>

</div>

<div class="container">
    <div class="row mx_auto" style="color: #000; font-size:12px;">

        {% for product in products %}
        <div  class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4" style="margin-bottom:10px;" >
            <div class="card text-center" style="...">
                <a href="{{product.get_url}} "><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
            <div class="card-body" >
                <h4 style="font-size:14px;text-transform:uppercase;letter-spacing:.2em;">{{product.name}}</h4>
                <p>{{product.price}}</p>
            </div>
            </div>
        </div>
        {% empty %}
        <div class="row mx_auto" style="color: #000; font-size:12px;">
            <p class="text-center my_search_text" style="padding-top:20px;">0 results found</p>
        </div>
       {% endfor %}

    </div>
</div>
{% endblock %}